/* General */

html, body
{
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 114px;
}

div#content-left {
    margin: 0 340px 0 0;
    padding-bottom: 24px;
}

div#content-right {
    width: 300px;
    position: absolute;
    top: 100px;
    right: 40px;
}

/* Header */

div#archnavbar
{
    height: 120px;
    background-image: url(static/header.png)
}

div#archnavbar h1 a
{
    width: 360px;
    height: 120px;
    display: block;
    float: left;
    background-image: url(static/logotrans.png);
    text-indent: -9999px;
}

div#archnavbar ul
{
    list-style-type: none;
    position: absolute;
    right: 24px;
    top:   50px;
}

div#archnavbar ul li
{
    display: block;
    float: right;
    margin: 0px 24px 0px 24px;
}

div#archnavbar ul li a:active, div#archnavbar ul li a:hover, div#archnavbar ul li a:link, div#archnavbar ul li a:visited, div#archnavbar ul li.selected
{
    font-size: 16px;
    color: #dddddd;
}

/* Footer */

div#footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#111111;
    border-top: 10px solid #191919;
    color: #999999;
    font-size: 10px;
    padding-top: 24px;
    height: 90px;
}

div#footer a
{
    color: #ffffff;
}

div#footer a:hover
{
    text-decoration: underline;
}

div#footer div#leftfoot
{
    width: 256px;
    padding-left: 10px;
    float: left;
    position: relative;
    bottom: 54px;
    height: 0px;
}

div#footer div#rightfoot
{
    width: 256px;
    padding-right: 10px;
    float: right;
    position: relative;
    bottom: 44px;
    height: 0px;
}

div#footer div#mainfoot
{
    padding: 10px;
    float: right;
    width: 100%;
}

div#footer div#mainfoot p
{
    text-align: center;
}
