{% extends "base.html" %}
{% load url from future %}
{% block title %}Arch Hurd - About{% endblock %}
{% block content %}
<div class="box">
    <h2 class="title">About Arch Hurd, Arch Linux, and the GNU Hurd</h2>
    <h3>Arch Hurd</h3>
    <p>Arch Hurd is a port of Arch Linux to the GNU Hurd platform. Our goal is to provide an
      Arch-like user environment (BSD-style init scripts, i686-optimised packages, use of the
      pacman package manager, rolling-release, and a KISS set up) on the Hurd which is stable
      enough for use, if not as a primary OS, at least as something to consider as a dual-boot
      option. Currently we provide a <a href="{% url 'page-download' %}" title="Get Hurd">LiveCD</a>
      for users to install or try Arch Hurd for themselves, and provide an installation guide
      covering its use, as well as an alternate installation guide for users for whom the LiveCD
      is not an option, for whatever reason.</p>

    <p>The project was founded on 2010-01-04 in a thread on the <a href="https://bbs.archlinux.org/viewtopic.php?pid=682472" title="The Arch Hurd Project">Arch Linux forum</a>
      by <a href="{% url 'page-devs' %}" title="Team">Michael Walker (Barrucadu)</a>, and
      Allan McRae helped kick-start the project by providing build scripts for a cross-compiler
      and many essential packages. From there, other developers soon got involved, this website
      was created, and <a href="http://lists.archhurd.org" title="Arch Hurd Mailing List Archives">mailing lists</a>
      (original archives lost in the server change to linode, unfortunately) to coordinate development were
      established. Arch Hurd now has over 200 packages in the core and extra repositories, with more in our
      <a href="http://aur.archhurd.org" title="Arch User Repository">AUR</a>. We continue to make good progress,
      and are rapidly progressing towards our goal.</p>

    <p>You can chat to us on IRC in #archhurd on irc.freenode.net, or on the mailing lists; and if you want to
      get involved we'd love to hear from you.</p>

    <h3>Arch Linux</h3>
    <p><a href="http://www.archlinux.org" title="Arch Linux">Arch Linux</a> is a simple, lightweight
      Linux distribution with packages optimised for the i686 and x86_64 architectures. It features
      a BSD-style init system and is the origin of the pacman package manager, both essential
      features in Arch Hurd. Arch Linux was founded by Judd Vinet, and is currently led by Aaron Griffin.
      Arch uses a rolling-release development model rather than issuing fixed releases, and so Arch systems
      which are even very old can (theoretically) be updated with very few issues. Today, Arch is one of
      the better-known distributions, and frequently ranks highly on Distrowatch.</p>
    
    <p>There are number of other Arch derivatives, including Pandora, an Arch derivative including only
      free software; and Arch Server, which provides more stable packages with a greater emphasis on
      testing, stability, and security.</p>
    
    <h3>The Hurd</h3>
    <p><a href="http://www.gnu.org/software/hurd/" title="GNU Hurd">The Hurd</a> is a project by
      <a href="http://www.gnu.org" title="GNU">GNU</a>, and is intended to provide the kernel for
      the GNU operating system. It consists of a microkernel, GNU Mach, upon which run a variety
      of servers which implement the rest of the functionality of a Unix-like kernel (such as Linux,
      or the BSDs). On a more abstract level, the Hurd is first and foremost, a set of standards
      and protocols for these servers to communicate, which define an extensible system with little
      dependence on mutual trust between the servers. &quot;Hurd&quot; is a recursive acronym for
      &quot;HIRD of Unix-Replacing Daemons&quot;, where &quot;HIRD&quot; is an acronym for
      &quot;HURD of Interfaces Representing Depth&quot;.</p>

    <p>The mission of the Hurd project is: to create a general-purpose kernel suitable for the
      GNU operating system, which is viable for everyday use, and gives users and programs as
      much control over their computing environment as possible.</p>
</div>
<br /><br />
{% endblock %}

