{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Arch Hurd - Artwork{% endblock %}

{% block content %}
<div id="artwork" class="box">

    <h2>Art</h2>

  <p>The following Arch Hurd logos derivations of the Arch Linux logo and are available for press and other uses, subject to the restrictions of the Arch Linux <a href="https://wiki.archlinux.org/index.php/DeveloperWiki:TrademarkPolicy" title="Trademark Policy">trademark policy</a>.</p>

  <h3>Standard two-colour version</h3>
  <p>Available in <a href="http://www.archhurd.org/images/logos/2colour.png" title="PNG">PNG</a> and <a href="http://www.archhurd.org/images/logos/2colour.svg" title="SVG">SVG</a> format.</p>
  <img src="http://www.archhurd.org/images/logos/2colour.png" alt="Standard two-colour Arch Hurd logo."/>

</div><!-- #artwork -->
{% endblock %}
