{% extends "base.html" %}
{% load cache %}
{% load url from future %}
{% load static from staticfiles %}

{% block title %}Arch Hurd - Downloads{% endblock %}
{% block navbarclass %}anb-download{% endblock %}

{% block content %}
{% with version="i686-core-2011-08-17" %}
<div id="arch-downloads" class="box">

    <h2>Arch Hurd Downloads</h2>

    <h3>Release Info</h3>

    <p>The image can be burned to a CD or mounted as an ISO file. It
    is intended for new installations only; an existing Arch Hurd system
    can always be updated with `pacman -Syu`.</p>

    <ul>
        <li><strong>Current Release:</strong> {{ version }}</li>
        <li><a href="http://wiki.archhurd.org/wiki/Installation_Guide">Installation Guide</a></li>
        <li><strong>Resources:</strong>
            <ul>
                <li><a href="http://bugs.archhurd.org/index.php?project=4"
                    title="Arch Hurd Bugtracker:Livecd / Installer">Bug Tracker</a></li>
                <li><a href="http://lists.archhurd.org/"
                    title="Arch Hurd mailing lists">Mailing Lists</a></li>
            </ul>
        </li>
    </ul>

    <h3>Existing Arch Users</h3>

    <p>If you are an existing Arch user, there is no need to download a new ISO
    to update your existing system. You may be looking for
    <a href="{% url 'mirrorlist' %}">an updated mirrorlist</a> instead.</p>

    <h3>Direct Downloads</h3>

    <p>Install images can be downloaded via HTTP and FTP from the mirror
    sites listed below. Please ensure the download image matches the checksum
    from the md5sums.txt or sha1sums.txt file in the same directory as the image.</p>

    <h4>Checksums</h4>

    <p>File integrity checksums for the latest releases can be found below:</p>

    <ul>
        <li><a href="ftp://www.archhurd.org/livecd/sha1sums.txt"
            title="Get the latest SHA1 checksums">SHA1 checksums</a></li>
        <li><a href="ftp://www.archhurd.org/livecd/md5sums.txt"
            title="Get the latest MD5 checksums">MD5 checksums</a></li>
    </ul>

    {% cache 600 download-mirrors %}
    <div id="download-mirrors">
        {% regroup mirror_urls by real_country as grouped_urls %}
        {% for country in grouped_urls %}
        {% if country.grouper %}<h5><img src="{{ country.grouper.flag }}" alt=""/> {{ country.grouper.name }}</h5>
        {% else %}<h5>Worldwide</h5>{% endif %}
        <ul>
            {% for mirror_url in country.list %}
            <li><a href="{{ mirror_url.url }}livecd/"
                title="Download from {{ mirror_url.url }}livecd/">{{ mirror_url.mirror.name }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    {% endcache %}

    <p>If you want to become an Official Arch Hurd Mirror please send a message
     to <a href="http://lists.archhurd.org/">the mailing list</a>.</p>

</div>
{% endwith %}
{% endblock %}
